lookAheadDays=3
tide.http-host=api.tidesandcurrents.noaa.gov
tide.http-port=443
tide.http-rootPath=/api/prod/datagetter?product=predictions&datum=mllw&interval=h&format=json&units=english
tide.station=9447130
tide.timezone=lst_ldt
weather.http-host=api.weather.gov
weather.http-port=443
weather.http-rootPath=/gridpoints/
weather.office=sew
weather.gridX=119
weather.gridY=76
